@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "~normalize.css";


// $red: white;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // background: $red;
  font-family: 'Roboto',sans-serif;
  font-size: 12px;
}

